.meuNome, .descricao {
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.background-color {
    background-color: rgba(201, 211, 218, 0.589);
}

body {
    color: black;
}
.unix {
    font-size: 30px;
}
.bash {
    font-size: 25px;
}
.git {
    font-size: 20px;
}
.github {
    font-size: 15px;
}
.html {
    font-size: 10px;
}